.App{
  margin: 0;
  text-align: center;
  padding: 0;
  background-color: #f7f7f7;
  height: 1000px;
  
}

.login-page {
  display: flex;
  text-align: center;
  background-color: #f7f7f7;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container{
 
  display: flex;
  text-align: center;
  padding-left: 800px;
  padding-top: 300px;
}

input{
border-radius: 10 px;
}
.Credentials{
  background-color: white;
  border: 1 px;

}
.login-button{

}